@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #1e1e1e;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding-block: 12px;
  width: 1440px;
  margin-inline: auto;
}

.logo {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.search-form {
  width: 300px;
  height: 43px;
  display: flex;
  align-items: center;
}

.search {
  background-color: #333;
  border-radius: 11px;
  font: 15px system-ui;
  border: transparent;
  outline: none;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 9px;
}

#section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 15px;
  padding-block: 10px;
  width: 1440px;
  margin-inline: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 19px;
  padding: 15px;
  text-align: center;
  background-color: #151515;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
}

.thumbnail {
  width: 100%;
  border-radius: 19px;
  object-fit: cover;
  transition-delay: 0.1s;
  transition: all 0.3s;
}

/* movie page */

.title {
  width: 1440px;
  margin-inline: auto;
}

#movie-section {
  display: grid;
  grid-template-columns: repeat(5, 300px);
  gap: 15px;
  margin-bottom: 10px;
  width: 1440px;
  margin-inline: auto;
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #151515;
  padding: 20px;
  border-radius: 4px;
}

.edit-btn {
  width: 80px;
  background-color: #2c4165;
  border: none;
  padding: 4px 10px;
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.delete-btn {
  width: 80px;
  background-color: #ab4b6e;
  border: none;
  padding: 4px 10px;
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.movie-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #151515;
  padding: 15px;
  border-radius: 4px;
  margin-inline: auto;
}

.form-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-input {
  width: 100%;
  background-color: #333;
  border: none;
  border-radius: 10px;
  padding: 6px 10px;
  color: white;
  outline: none;
}

.submit {
  border: none;
  padding: 8px 20px;
  color: white;
  background-color: #254e53;
  border-radius: 4px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  text-align: center;
}

.check-review-btn {
  background-color: #0c0c0c;
  padding: 8px 20px;
  border: transparent;
  border-radius: 6px;
  box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.check-review-btn > p {
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  color: #797979;
}

@media (max-width: 1440px) {
  .navbar {
    width: 1280px;
  }

  #section {
    grid-template-columns: repeat(4, 1fr);
    width: 1280px;
  }

  #movie-section {
    grid-template-columns: repeat(4, 1fr);
    width: 1280px;
  }

  .title {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .navbar {
    width: 1024px;
  }

  #section {
    width: 1024px;
  }

  #movie-section {
    width: 1024px;
  }

  .title {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    width: 960px;
  }

  #section {
    width: 960px;
  }

  #movie-section {
    width: 960px;
  }

  .title {
    width: 960px;
  }
}

@media (max-width: 960px) {
  .navbar {
    width: 768px;
  }

  #section {
    grid-template-columns: repeat(2, 1fr);
    width: 768px;
  }

  #movie-section {
    grid-template-columns: repeat(2, 1fr);
    width: 768px;
  }

  .title {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 640px;
  }

  #section {
    width: 640px;
  }

  #movie-section {
    width: 640px;
  }

  .title {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .navbar {
    width: 90vw;
    flex-direction: column;
    gap: 8px;
  }

  .search-form {
    width: 90vw;
  }

  #section {
    grid-template-columns: repeat(1, 1fr);
    width: 90vw;
  }

  #movie-section {
    grid-template-columns: repeat(1, 1fr);
    width: 90vw;
  }

  .title {
    width: 90vw;
  }

  .movie-form {
    width: 90vw;
  }
}
